    <% layout('layouts/boilerplate') %>
    
    <!-- The html below will be injected into the boilerplate file -->
    <h1>All Campgrounds</h1>
    <ul>
        <% for (let campground of campgrounds) { %> 
        <li><a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a></li>
        <% } %> 
    </ul>
    <br>
    <a href="./new">Add a New Campground</a>