    <% layout('layouts/boilerplate') %>
    



    <div class="row">
        <h1 class="text">New Campground</h1>
        <div class="col-6 offset-3">


            <form action="/campgrounds" method="post">
                <div>
                    <label for="title">Title</label>
                    <input type="text" id="title" name="campground[title]">
                </div>
                <div>
                    <label for="location">Location</label>
                    <input type="text" id="location" name="campground[location]">
                </div>
                <button>Add Campground</button>
            </form>
            <a href="/campgrounds">Back</a>
        


        </div>
    </div>