<% layout('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">New Campground</h1>

    <div class="col-6 offset-3">
        <form class="needs-validation" action="/campgrounds" method="post" novalidate>

            <div class="mb-2">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-2">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required>
                <div class="valid-feedback">
                    Perfect...
                </div>
            </div>

            <div class="mb-2">
                <label class="form-label" for="image">Image URL</label>
                <input class="form-control" type="text" id="image" name="campground[image]" required>
                <div class="valid-feedback">
                    Beautiful!
                </div>
            </div>

            <div class="mb-2">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]"
                    required></textarea>
            </div>

            <div class="mb-4">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" id="price" name="campground[price]" placeholder="0.00"
                        required>
                </div>
            </div>

            <div class="mb-2">
                <button class="btn btn-success">Add Campground</button>
            </div>

        </form>

        <a class="nav-link-active" href="/campgrounds">Back</a>

    </div>
</div>